body{
	font-family: Calibri;
}

h1,h3,legend{
	font-family:Segoe UI, Segoe, Optima, Candara, Calibri, Arial, sans-serif;
}

legend{
	color: orange;
}

h1{
	color: #B72304;
	font-size: 3em;
	letter-spacing: 0.3em;
	word-spacing: 1.0em;
}

fieldset{
	border-color: darkblue;
	border-width: 3px;
	border-radius: 24px;
}